body, td, div, p, a {
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial, sans-serif";
}

html, body {
   height:100%;
   overflow:hidden;
}

.indextext {
    width: 75%;
    color: #ffffbb;
    background-color:#111133;
    text-align:center;
        
}

table {
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
   height:100%;
   border-collapse:collapse;
}

table tr td.header {
   background-color:#111133;
   color: #ffffbb;
   padding:5px;
   text-align:center;
}

table tr td.content {
   text-align:center;
   vertical-align:top;
   background-color:#111133;
   position:relative;
}

table tr td.rightScroll {
   width:50%;
   height:90%;
   background-color:#111133;
   display:table-cell;
}

table tr td.rightScroll div {
   width:40%;
   height:calc(100% - 29px);
   position:absolute;
   top:29px;
   right:0;
   overflow-y:scroll;
   text-align: justify;
   color: #ffffbb;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
}
table tr td.rightScroll div li {
     padding-bottom: 15px;
}

.sideTitle {
    text-align: center;
    color: #ffff88;
}
.button {
    width: 50px;
    background-color: #111133;
    font-size: 18px;
    font-weight: bold;
    color: #ffffbb;
    padding: 4px 4px;
    border-radius: 4px;
    border: 1px solid #666600;
    } 
    
.button:hover {background-color: #111177;}
.footer {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #0000ff;
    padding: 5px;
}
.ctlbuttons {
    text-align: center;   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     }
.sbold {
    color: #44ff44;
    font-family: "Times New Roman", Times, serif;
  
}