/* 
    Created on : 19-Oct-2015, 08:54:13
    Author     : Tony Evans
*/
/* CSS layout */
 
body {
	margin: 0 ;
	padding: 0;
	background-color: #0000aa;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial, sans-serif";
	font-size: 15px;
	color: #FAFAD2;
}
.pagetitle {
        text-align: center;
        font-size: 18px;
        color: #ffFFaa;
        padding: 10px;
}
.headcol {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 2px;
  margin-top: -1px;
}
